<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LegalCore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.vishal.controllers.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.vishal.controllers.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.vishal.controllers.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.vishal.controllers.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvocateRegister</display-name>
    <servlet-name>AdvocateRegister</servlet-name>
    <servlet-class>com.vishal.controllers.AdvocateRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvocateRegister</servlet-name>
    <url-pattern>/AdvocateRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvocateLogin</display-name>
    <servlet-name>AdvocateLogin</servlet-name>
    <servlet-class>com.vishal.controllers.AdvocateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvocateLogin</servlet-name>
    <url-pattern>/AdvocateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvocateLogout</display-name>
    <servlet-name>AdvocateLogout</servlet-name>
    <servlet-class>com.vishal.controllers.AdvocateLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvocateLogout</servlet-name>
    <url-pattern>/AdvocateLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.vishal.controllers.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPhoto</display-name>
    <servlet-name>GetPhoto</servlet-name>
    <servlet-class>com.vishal.controllers.GetPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhoto</servlet-name>
    <url-pattern>/GetPhoto</url-pattern>
  </servlet-mapping>
</web-app>