<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>LegalCore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.vishal.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.vishal.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.vishal.controller.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.vishal.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvocateRegister</display-name>
    <servlet-name>AdvocateRegister</servlet-name>
    <servlet-class>com.vishal.controller.AdvocateRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvocateRegister</servlet-name>
    <url-pattern>/AdvocateRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvocateLogin</display-name>
    <servlet-name>AdvocateLogin</servlet-name>
    <servlet-class>com.vishal.controller.AdvocateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvocateLogin</servlet-name>
    <url-pattern>/AdvocateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPhoto</display-name>
    <servlet-name>GetPhoto</servlet-name>
    <servlet-class>com.vishal.controller.GetPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPhoto</servlet-name>
    <url-pattern>/GetPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAdvocate</display-name>
    <servlet-name>SearchAdvocate</servlet-name>
    <servlet-class>com.vishal.controller.SearchAdvocate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAdvocate</servlet-name>
    <url-pattern>/SearchAdvocate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskAdvice</display-name>
    <servlet-name>AskAdvice</servlet-name>
    <servlet-class>com.vishal.controller.AskAdvice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskAdvice</servlet-name>
    <url-pattern>/AskAdvice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyAdvice</display-name>
    <servlet-name>ReplyAdvice</servlet-name>
    <servlet-class>com.vishal.controller.ReplyAdvice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyAdvice</servlet-name>
    <url-pattern>/ReplyAdvice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.vishal.controller.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
</web-app>